<h1><%= session[:username]%>' favorites</h1>
<ul class="favorites">
<% favs = client.favorites(count: 100)
favs.each do |fav| %>
  <li class="favorites__favorite"><%= fav.text.gsub(/\n/, '<br/>') %></li>
<% end %>
</ul>
